<% content_for :title, 'Продукция компании' %>
<section class="boxed no-padding bg-img " style="background-image: url(assets/images/bg/bg-shop.jpg);">
  <div class="sub-header depen-on-img">
    <img src="/assets/images/bg/bg-shop.jpg" class="img-responsive" alt="Image">
    <div class="sub-header-inner center-center">
      <h2>Продукция</h2>
      <ol class="breadcrumb">
        <li>
          <a href="#">Главная</a>
        </li>
        <li class="active">Продукция</li>
      </ol>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="woocommerce">
        <div class="col-md-12">
          <form action="get" method="get">
            <table class="shop_table  shop_table_responsive cart" >
              <thead>
              <tr>
                <th class="product-thumbnail">Название</th>
                <th class="product-price">Описание</th>
                <th class="product-price text-center">Цена</th>
                <th class="product-subtotal text-right">Колличество</th>
              </tr>
              </thead>
              <tbody>
              <% @production.each do |product| %>
                <tr class="cart_item">
                  <td class="product-thumbnail">
                    <a type="button" class="modal-w" data-toggle="<%= "modal-#{product.id}" %>" data-target=".bd-example-modal-sm">
                      <%= product.name %>
                    </a>
                  </td>
                  <td class="product-subtotal" data-title="Total" style="max-width: 245px;">
                    <span class="woocommerce-Price-amount amount">
                      <p><%= product.description %></p>
                    </span>
                  </td>
                  <td class="product-price text-center" data-title="Price">
                    <span class="woocommerce-Price-amount amount">
                      <%= product.price %>
                      <span class="woocommerce-Price-currencySymbol">руб.</span>
                    </span>
                  </td>
                  <td class="product-subtotal text-right" data-title="Quantity">
                    <div class="quantity">
                      <p style="padding-right: 40px;"><%= product.amount %></p>
                    </div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<% @production.each do |product| %>
  <div class="modal bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="<%= "modal-#{product.id}" %>" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <%= product.description %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="<%= "modal-#{product.id}" %>">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<style>
  .modal-backdrop {
    display: none;
  }
  .modal-w {
    cursor: pointer;
  }
</style>